#cust_bills{
    width:100%;
    background:whitesmoke; 
    overflow-y: auto; 
    overflow-x: hidden;
    opacity:0;
}

select{
    font-size:13px!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    /* padding-right: 15px; */
    padding-left: 15px;
    margin-right:0%!important;
    margin-left: 0%!important;
}

@media (min-width: 1540px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%!important;
    }
}

h4{
    width:100%!important; 
    color:white!important;
    background: #222a4a!important;
    padding: 20px!important;
}