<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Search Results</title>
</head>
<body>
  <div class="container">
    <img src="/assets/images/noresults3.png" alt="No Search Results">
    <h1>No search results found</h1>
    <p>Sorry, we couldn't find any results for your search query. Please try again with different keywords.</p>
    <!-- <a href="#">Go back to homepage</a> -->
  </div>
</body>
</html>