<div class="nk-app-root">
    <div class="nk-sidebar is-compact" data-content="sidebarMenu">
        <div class="nk-sidebar-main is-light">
            <div class="nk-sidebar-inner" data-simplebar="init">
                
                <div class="simplebar-wrapper" style="margin: -24px -28px -32px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                <div class="simplebar-content" style="padding: 24px 28px 32px;">
                                    
                                    <div class="nk-menu-content menu-active" data-content="navPages">
                                        <h5 class="title">IBEDC CMS</h5> 
                                        <ul class="nk-menu">
                                            <li class="nk-menu-item"><a href="#" [routerLink]="['/dashboard']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span><span class="nk-menu-text">Dashboard</span></a></li>
                                            <li class="nk-menu-item has-sub">
                                                <a href="#" class="nk-menu-link nk-menu-toggle" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-users"></em></span><span class="nk-menu-text">Customers</span></a>
                                                <ul class="nk-menu-sub" style="display: none;">
                                                    <li class="nk-menu-item"><a href="/customers" [routerLink]="['/customers']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-text">Customers</span></a></li>
                                                    <li class="nk-menu-item"><a href="#" [routerLink]="['/autosubscription/v1/airtime']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-text">Customer CRMD</span></a></li>
                                                    <li class="nk-menu-item"><a href="#" [routerLink]="['/autosubscription/v1/data']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-text">Customer CAAD</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="nk-menu-item"><a href="#" [routerLink]="['/airtime']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-mobile"></em></span><span class="nk-menu-text">Billing History</span></a></li>
                                            <li class="nk-menu-item"><a href="#" [routerLink]="['/data']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-wifi"></em></span><span class="nk-menu-text">Payment History</span></a></li>
                                            <li class="nk-menu-item"><a href="#" [routerLink]="['/cable']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-bulb"></em></span><span class="nk-menu-text">Cable Subscription</span></a></li>
                                            <li class="nk-menu-item"><a href="#" [routerLink]="['/electricity']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-notify"></em></span><span class="nk-menu-text">Electricity Purchases</span></a></li>
                                            <li class="nk-menu-item"><a href="pages/faqs.html" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-chat"></em></span><span class="nk-menu-text">Notifications</span></a></li>
                                            
                                            
                                            <li class="nk-menu-item has-sub current-page">
                                                <a href="#" class="nk-menu-link nk-menu-toggle" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-users"></em></span><span class="nk-menu-text">Admin Panel</span></a>
                                                <ul class="nk-menu-sub" style="display: none;">
                                                    <li class="nk-menu-item"><a href="#" [routerLink]="['admin/pricelist']" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-text">Price List</span></a></li>
                                                    <li class="nk-menu-item active current-page"><a href="user-list-compact.html" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-text">Users List</span></a></li>
                                                   
                                                </ul>
                                            </li>
                                            <li class="nk-menu-item"><a href="pages/faqs.html" class="nk-menu-link" data-bs-original-title="" title=""><span class="nk-menu-icon"><em class="icon ni ni-signout"></em></span><span class="nk-menu-text">Sign Out</span></a></li>
                                            
                                        </ul>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simplebar-placeholder" style="width: auto; height: 503px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-main ">
        <div class="nk-wrap ">
            <div class="nk-header nk-header-fixed nk-header-fluid">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1"><a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
                        <div class="nk-header-brand d-xl-none"><a href="index-2.html" class="logo-link"><img class="logo-light logo-img" src="/assets/images/smarthome-logo.jpg" srcset="/demo7/images/logo2x.png 2x" alt="logo"><img class="logo-dark logo-img" src="/assets/images/smarthome-logo.jpg" srcset="/demo7/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
                        <div class="nk-header-search ms-3 ms-xl-0 d-none d-md-flex"><em class="icon ni ni-search"></em><input type="text" style="border: 1px solid #dbdfea!important;" class="form-control form-focus-none" placeholder="Search anything"></div>
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li>
                                    <div class="dropdown">
                                        <a id="searchbar_filter" style="height:45px;" href="#" class="dropdown-toggle btn shadow" data-bs-toggle="dropdown" aria-expanded="false">Account Number&nbsp;&nbsp;<em class="dd-indc icon ni ni-chevron-right"></em></a>
                                        <div class="dropdown-menu" >
                                          <ul class="link-list-opt">
                                             <li><a href="#" onclick="searchBarFilter(this)" value = "Account Number" name="accountno"><span>Account Number</span></a></li>
                                             <li><a href="#" value = "Meter Number" name="meterno" onclick="searchBarFilter(this)"><span>Meter Number</span></a></li>
                                             <li><a href="#" name="names" onclick="searchBarFilter(this)"><span>Names</span></a></li>
                                             <li><a href="#" name="mobile" onclick="searchBarFilter(this)"><span>Phone Number</span></a></li>
                                             <li><a href="#" name="email" onclick="searchBarFilter(this)"><span>Email</span></a></li>
                                             <li><a href="#" name="address1" onclick="searchBarFilter(this)"><span>Address</span></a></li>
                                             <li><a href="#" name="buid" onclick="searchBarFilter(this)"><span>Business Unit</span></a></li>
                                             <li><a href="#" name="servicecenter" onclick="searchBarFilter(this)"><span>Service Centers</span></a></li>
                                             <li><a href="#" name="state" onclick="searchBarFilter(this)"><span>Region</span></a></li>
                                          </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <div class="dropdown-inner user-card-wrap bg-lighter">
                                            <div class="user-card">
                                                <div class="user-avatar"><span>{{abbreviateName(usersName)}}</span></div>
                                                <div class="user-info"><span class="lead-text">{{usersName}}</span><span class="sub-text">{{usersMail}}</span></div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="#" onclick="document.getElementById('pending_view').click()" style="width:100%;">
                                                    <em class="icon ni ni-update"></em>Approval Board
                                                    </a>
                                                 </li>
                                                <li><a href="user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                                <li><a class="dark-switch pointer" (click)="darkMode()"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                                <li><a href="user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <router-outlet></router-outlet>
            <app-approvalboard></app-approvalboard>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/dropscript.js?version=0.0.3"></script>
</div>
