<!-- Customers Template -->

<div class="nk-header nk-header-fixed nk-header-fluid">
   <div class="container-fluid">
       <div class="nk-header-wrap">
           <div class="nk-menu-trigger d-xl-none ms-n1"><a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
           <div class="nk-header-brand d-xl-none"><a href="index-2.html" class="logo-link"><img class="logo-light logo-img" src="/assets/images/smarthome-logo.jpg" srcset="/demo7/images/logo2x.png 2x" alt="logo"><img class="logo-dark logo-img" src="/assets/images/smarthome-logo.jpg" srcset="/demo7/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
           
           
            
            <input  type="text" id="cmp-search-customer-input" class="form-control col-10" placeholder="Search for customers"/>
         
            <div  class="nk-header-tools">
               <ul class="nk-quick-nav">
                   <li>
                       <div class="dropdown">
                           <a id="searchbar_filter" style="height:35px;" href="#" class="btn btn-white btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Select a Filter&nbsp;&nbsp;<em class="dd-indc icon ni ni-chevron-right"></em></a>
                           <div class="dropdown-menu" >
                             <ul  class="link-list-opt">
                                <li><a href="javascript:void(0)" (click)="searchBarFilter($event)" value = "Account Number" name="accountno">Account Number</a></li>
                                <li><a href="javascript:void(0)" value = "Meter Number" name="meterno" (click)="searchBarFilter($event)">Meter Number</a></li>
                                <li><a href="javascript:void(0)" name="names" (click)="searchBarFilter($event)">Names</a></li>
                                <li><a href="javascript:void(0)" name="mobile" (click)="searchBarFilter($event)">Phone Number</a></li>
                                <li><a href="javascript:void(0)" name="email" (click)="searchBarFilter($event)">Email</a></li>
                                <li><a href="javascript:void(0)" name="address" (click)="searchBarFilter($event)">Address</a></li>
                                <li><a href="javascript:void(0)" name="buid" (click)="searchBarFilter($event)">Business Unit</a></li>
                                <li><a href="javascript:void(0)" name="servicecenter" (click)="searchBarFilter($event)">Service Centers</a></li>
                                <li><a href="javascript:void(0)" name="state" (click)="searchBarFilter($event)">Region</a></li>
                             </ul>
                           </div>
                       </div>
                   </li>
                   <li class="dropdown user-dropdown">
                       <a href="javascript:void(0)" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
                           <div class="user-toggle">
                               <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                           </div>
                       </a>
                       <div style="width:400px!important;" class="dropdown-menu dropdown-menu dropdown-menu-right">
                           <div class="dropdown-inner user-card-wrap bg-lighter">
                               <div class="user-card">
                                   <div class="user-avatar"><span>{{abbreviateName(user.name)}}</span></div>
                                   <div class="user-info"><span class="lead-text">{{user.name}}</span><span class="sub-text">{{user.email}}</span></div>
                               </div>
                           </div>
                           <div  style="width:500px!important;" class="dropdown-inner">
                               <ul class="link-list-opt">
                                   <li><a style="white-space: nowrap;" *ngIf="user.permission_hierarchy == 'Business Unit'" href="javascript:void(0)"  style="width:100%;">
                                       {{user.position}}: {{user.business_unit | uppercase}}
                                       </a>
                                       <a *ngIf="user.permission_hierarchy == 'Service Center'" href="javascript:void(0)"  style="width:100%;">
                                       {{user.position}}: {{user.service_center | uppercase}}
                                       </a>
                                       <a *ngIf="user.permission_hierarchy == 'Region'" href="javascript:void(0)"  style="width:100%;">
                                       {{user.position}}: {{user.region | uppercase}}
                                       </a>
                                       <a *ngIf="user.permission_hierarchy == 'Head Quarters'" href="javascript:void(0)"  style="width:100%;">
                                       {{user.position}}: {{user.region | uppercase}}
                                       </a>
                                    </li>
                                    <li><a href="javascript:void(0)" ><em class="icon ni ni-signout"></em><span>Region: {{user.region.toUpperCase()}}</span></a></li>
                                    <li *ngIf="user.position.includes('BHM') || user.position.includes('ADT') || user.can_create_customer"><a href="javascript:void(0)" onclick="document.getElementById('pending_view').click()" style="width:100%;">
                                       <em class="icon ni ni-update"></em>CRMD Customers Board
                                       </a>
                                    </li>
                                    <li><a href="javascript:void(0)" (click)="logout()"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                 </ul>
                           </div>
                          
                       </div>
                   </li>
               </ul>
           </div>
       </div>
       
   </div>
</div>


<div id="customers_template" style="padding-top: 100px;" class="nk-content ">
   
   
   <div class="nk-block-head nk-block-head-sm">
      <div class="nk-block-between">
         <div class="nk-block-head-content">
            <div class="header-start">
               <ng-container *ngIf="has_field">
                  <ng-container *ngIf="appname =='customers' || appname =='search_results'">
                     <h3 id="dashboardtitle" class="nk-block-title page-title">{{activePage | titlecase}} Customers</h3>
                     <ng-container *ngIf="can_create_customers" else elseblockid0>
                        <input id='create-perm' type='text' hidden='1' value='True'/>
                        
                     </ng-container>
                     <!-- <ng-container #elseblockid0><input id='create-perm' type='text' hidden='1' value='False'/></ng-container> -->
                     <ul class="tagList" id="search-tag-list">
                       <li class="option-item "><a style="color:gray;" href="javascript:void(0)" id="cust-page-link1" [routerLink]="['/customers/prepaid']">Prepaid: {{ecmi_total_customers | number:'1.0'}}</a></li>
                       <li class="option-item "><a style="color:gray;" href="javascript:void(0)" id="cust-page-link2" [routerLink]="['/customers/postpaid']">Postpaid</a></li>
                       </ul>
                     <!-- <p ><a id="cust-page-count"></a> <a href="javascript:void()" id="cust-page-link1" onclick="customerPageLinkHeader(this)"></a> <a href="javascript:void()" id="cust-page-link2" onclick="customerPageLinkHeader(this)"></a></p> -->
                  </ng-container>
               </ng-container>
               <ng-container *ngIf="has_field">
                  <ng-container *ngIf="appname =='search_results' && advanced_filters==false">
                     <h3 id ="cust-page-title">Customers Deep Search Results</h3>
                     <ng-container *ngIf="can_create_customers";else elseblockid1>
                     <input id='create-perm' type='text' hidden='1' value='True'/>
                     <div *ngIf="can_create_customers" class="flex-row-gap-10">
                        <button data-bs-toggle="tooltip" data-bs-placement="right" title="Create a new customer" style="max-width:200px;border-radius:10px;background:white!important" id="create_btn" value="create_btn" class="btn btn btn-outline-primary shadow" onclick="openCustomerCreateForm()"><span>Create Customer</span></button>
                        <a style="max-width:120px;border-radius:10px;background:white!important" href="javascript:loadDrafts()" value = "drafts_form" id="admin_users_loc" class="btn btn-outline-primary shadow" data-original-title="" title=""><span class="nk-menu-text">Drafts</span></a>
                     </div>
                  </ng-container>
                  <ng-container #elseblockid1><input id='create-perm' type='text' hidden='1' value='False'/></ng-container>
                  <ul class="tagList" id ="search-tag-list"></ul>
               </ng-container>
               </ng-container>
               <ng-container *ngIf="advanced_filters">
                  <h3 id ="cust-page-title">Customers Advanced Filtering</h3>
                  <ng-container *ngIf="can_create_customers";else elseblockid2>
                  <input id='create-perm' type='text' hidden='1' value='True'/>
                  <div *ngIf="can_create_customers" class="flex-row-gap-10">
                     <button data-bs-toggle="tooltip" data-bs-placement="right" title="Create a new customer" style="max-width:200px;border-radius:10px;background:white!important" id="create_btn" value="create_btn" class="btn btn btn-outline-primary shadow" onclick="getCache(this.getAttribute('value'),'create')"><span>Create Customer</span></button>
                     <a style="max-width:120px;border-radius:10px;background:white!important" href="javascript:loadDrafts()" value = "drafts_form" id="admin_users_loc" class="btn btn-outline-primary shadow" data-original-title="" title=""><span class="nk-menu-text">Drafts</span></a>
                  </div>
               </ng-container>
               <ng-container #elseblockid2><input id='create-perm' type='text' hidden='1' value='False'/></ng-container>
               <ul class="tagList" id="search-tag-list">
                 <li class="option-item "><a style="color:gray;" href="javascript:void(0)" id="cust-page-link1" onclick="customerPageLinkHeader(this)">Prepaid: 160,418</a></li>
                 <li class="option-item "><a style="color:gray;" href="javascript:void(0)" id="cust-page-link2" onclick="customerPageLinkHeader(this)">Postpaid</a></li>
                 </ul>
               </ng-container>
            </div>
         </div>
         <!-- <div class="nk-block-head-content">
           <div class="toggle-wrap nk-block-tools-toggle">
               <a class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
               <div class="toggle-expand-content show" data-content="pageMenu">
                   <ul class="nk-block-tools g-3">
                      
                   </ul>
               </div>
           </div>
       </div> -->
       
         <!-- .nk-block-head-content -->
         <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
               <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
               <div  class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                     <li *ngIf="can_create_customers"><a (click)="openCustomerCreateForm()" data-bs-toggle="tooltip" data-bs-placement="left" title="Create a new customer"  class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>New Customer</span></a></li>
                     <li *ngIf="can_create_customers" class="nk-block-tools-opt">
                         <a data-bs-toggle="tooltip" (click)="openDrafts()" data-bs-placement="bottom" title="Create a new draft" href="javascript:void(0)" class="btn btn-icon btn-primary" ><em class="icon ni ni-file-text"></em></a>
                     </li>
                     <li data-bs-toggle="tooltip" data-bs-placement="left" title="Advanced Filtering">
                        <div class="dropdown">
                           <a href="javascript:void(0)" (click)="getLocations('regions','')" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                              <div class="dot dot-primary"></div>
                              <em class="icon ni ni-filter-alt"></em>
                           </a>
                           <div style="z-index:4000" class="zindex dropdown-menu dropdown-menu-xl dropdown-menu-end">
                              <div class="dropdown-head">
                                 <span class="sub-title dropdown-title">Filter Customers</span>
                                 <div class="dropdown"><a href="#" class="btn btn-sm btn-icon"><em class="icon ni ni-more-h"></em></a></div>
                              </div>
                              <div  class="dropdown-body dropdown-body-rg">
                                 <div class="row gx-6 gy-3">
                                    <form class="form-validate is-alter row gx-6 gy-3" autocomplete="off" (ngSubmit)="submitFilter()" ngNativeValidate>
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Account Type</label>
                                             <select [(ngModel)]="filter.accounttype" name="accounttype" class="form-select " data-select2-id="4" tabindex="-1">
                                                <option value="prepaid">Prepaid</option>
                                                <option value="postpaid">Postpaid</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Kyc</label>
                                             <select [(ngModel)]="filter.kyc" name="kyc" class="form-select " data-select2-id="kyc" tabindex="-1">
                                                <option value="1">Complaint</option>
                                                <option value="0">Non-compliant</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-12">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Status Code</label>
                                             <select [(ngModel)]="filter.statuscode" name="statuscode" class="form-select " data-select2-id="4" tabindex="-1">
                                                <option value="A">Active</option>
                                                <option value="p">Prepaid</option>
                                                <option value="I">In-Active</option>
                                                <option value="S">Suspended</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Region</label>
                                             <select (change)="getLocations('business_unit',$event)" [(ngModel)]="filter.state" name="state" class="form-select " data-select2-id="state" tabindex="-1">
                                                <option *ngFor="let region of regions;" [value]="region.name">{{region.name}}</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Business Hub</label>
                                             <select (change)="getLocations('servicecenter',$event)" [(ngModel)]="filter.buid" name="buid" class="form-select " data-select2-id="buid" tabindex="-1">
                                                <option *ngFor="let business_unit of business_units;" [value]="business_unit.name">{{business_unit.name}}</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Service Center</label>
                                             <select [(ngModel)]="filter.servicecenter" name="servicecenter" class="form-select " data-select2-id="servicecenter" tabindex="-1">
                                                <option *ngFor="let servicecenter of service_centers;" [value]="servicecenter.name">{{servicecenter.name}}</option>
                                             </select>
                                          </div>
                                       </div>
                                       
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Feeders</label>
                                             <input [(ngModel)]="filter.feeder_name" name="feeder_name" type="text" class="form-control" placeholder="Feeder name"/>
                                          </div>
                                       </div>
                                       <div class="col-12">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">DSS ID</label>
                                             <input [(ngModel)]="filter.dss_id" name="dss_id" type="text" class="form-control" placeholder="DSS ID"/>
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Created/From</label>
                                             <input [(ngModel)]="filter.start_date" name="start_date" type="date" class="form-control" />
                                          </div>
                                       </div>
                                       <div class="col-6">
                                          <div class="form-group">
                                             <label class="overline-title overline-title-alt">Created/To</label>
                                             <input [(ngModel)]="filter.end_date" name="end_date" type="date" class="form-control" />
                                          </div>
                                       </div>
                                       <div class="col-12">
                                          <div class="form-group"><button type="submit" class="btn btn-secondary">Filter</button></div>
                                       </div>
                                    </form>
                                    
                                 </div>
                              </div>
                              <div class="dropdown-foot between"><a class="clickable" (click)="resetFilter()" href="javscript:void(0)">Reset Filter</a></div>
                           </div>
                        </div>
                     </li>
                     
                     <!-- <li>
                        <div style="display:flex!important;flex-direction:row!important;flex-wrap: wrap!important;gap:5px;" >
                           <div class="dropdown">
                              <a style="height:45px;" href="#" class="dropdown-toggle btn shadow" id="kyc_filter" data-bs-toggle="dropdown" aria-expanded="false">KYC Compliance &nbsp;&nbsp;<em class="dd-indc icon ni ni-chevron-right"></em></a>
                              <div class="dropdown-menu">
                                 <ul class="link-list-opt">
                                    <li><a value="0" onclick="setdropdown('kyc_filter',this,callback=true,callback_args=0)" href="#"><i style="color:black;font-size:16px;" class="material-icons">verified</i> &amp;nbsp<span id="kyc_icon">Verified</span></a></li>
                                    <li><a value="1" onclick="setdropdown('kyc_filter',this,callback=true,callback_args=1)" href="#"><i style="color:black;font-size:16px;" class="material-icons">block</i> &amp;nbsp<span id = "kyc_block">Unverified</span></a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="dropdown">
                              <a style="height:45px;" id="account_type_filter" href="#" class="dropdown-toggle btn shadow" data-bs-toggle="dropdown" aria-expanded="false">Account Type &nbsp;&nbsp;<em class="dd-indc icon ni ni-chevron-right"></em></a>
                              <div class="dropdown-menu">
                                 <ul class="link-list-opt">
                                    <li><a href="#" value="Prepaid" onclick="setdropdown('account_type_filter',this)"><span>Prepaid</span></a></li>
                                    <li><a href="#" value="Postpaid" onclick="setdropdown('account_type_filter',this)"><span>Postpaid</span></a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="dropdown">
                              <a style="height:45px;" id="status_code_filter" href="#" class="dropdown-toggle btn shadow" data-bs-toggle="dropdown" aria-expanded="false">Status Code &nbsp;&nbsp;<em class="dd-indc icon ni ni-chevron-right"></em></a>
                              <div class="dropdown-menu">
                                 <ul class="link-list-opt">
                                    <li><a href="#" value="A" onclick="setdropdown('status_code_filter',this)"><span>Active (A)</span></a></li>
                                    <li><a href="#" value="I" onclick="setdropdown('status_code_filter',this)"><span>Inactive (I)</span></a></li>
                                    <li><a href="#" value="P" onclick="setdropdown('status_code_filter',this)"><span>Prepaid (P)</span></a></li>
                                    <li><a href="#" value="S" onclick="setdropdown('status_code_filter',this)"><span>Suspended (S)</span></a></li>
                                 </ul>
                              </div>
                           </div>
                            
                           
                        </div>
                     </li> -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- .nk-block-between -->
   </div>
   <div style="height:98%" class="nk-block">
       <div class="card card-bordered">
         <div class="card-inner-group">
            <div style="max-height:850px;overflow-y:auto;overflow-x:hidden;" class="card-inner position-relative card-tools-toggle">
               <div class="card-title-group">
                  <div class="card-tools ">
                     <div class="form-inline flex-nowrap">
                        
                        <div class="btn-wrap"><span class="d-none d-md-block"><button (click)="toggleView($event)" class="btn btn-dim btn-outline-light">Toggle View</button></span><span class="d-md-none"><button class="btn btn-dim btn-outline-light btn-icon disabled"><em class="icon ni ni-arrow-right"></em></button></span></div>
                        
                     </div>
                  </div>
                  <div id="search-status" class="card-tools me-n1">
                     
                  </div>
                  
               </div> 

               <div class="nk-block" id="customers_list_view">
                  <div style="max-width:100%; height:100%">
                     <!-- <div class="top-header">
                        <br/>
                        <br/>
                        
                        </div> -->
                     <div style="width:100%; height:80%;overflow-y:hidden;">
                        <!-- <div style="width:100%;" > -->
                        <!-- <input type="hidden" id="context_data" name="context_data" t-att-value="customers"/> -->
                        <div style="width:100%;border-radius:0px;margin-top:10px; background:transparent" class="top-panel">
                           <div  class="panel-start flex-row"></div>
                           
                           
                        </div>
                        
                        <div  id="table-wrapper" style="width:auto;max-height: 60vh; overflow-y: auto;overflow-x:hidden; background:transparent!important;">
                           <app-noresultsext *ngIf="noResults"></app-noresultsext>
                           <div *ngIf="!kanban" id="table-wraps">
                              <table *ngIf="!noResults" style="width:100%;overflow: auto;opacity: 0;" id="customer_table" class="nowrap nk-tb-list shadow no-footer dtr-inline responsive collapsed" data-searching="false" data-auto-responsive="true">
                                 <thead style="position:sticky;top:0;z-index:4000;" class="table-style-light table-dark">
                                    <tr>
                                       <th></th>
                                       <ng-container *ngFor="let transient of transients;">
                                          <ng-container *ngIf="defaults.includes(transient);else block1">
                                             <th class="nk-tb-col">{{transient}}</th>
                                          </ng-container>
                                          <ng-template #block1>
                                             <th class="nk-tb-col" hidden>{{transient}}</th>
                                          </ng-template>
                                       </ng-container>
                                       <th>KYC</th>
                                       <th *ngIf="can_create_customers">Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody *ngIf="customersType=='prepaid'">
                                  
                                   <!-- [ngStyle]="{'background': 'linear-gradient(to bottom, #' + Math.floor(Math.random() * 16777215).toString(16) + ', #' + Math.floor(Math.random() * 16777215).toString(16) + ')'}" -->
                                    <tr *ngFor="let customer of customers$ | async ;" [id]="customer.accountno"  class="nk-tb-item">
                                       <td class="nk-tb-col nk-tb-col-check">
                                          <div style="z-index:0;" class="custom-control custom-control-sm custom-checkbox notext ">
                                             &nbsp;<input onchange="highlightRow(this,event)" style="z-index:0;padding-top:35px!important;" type="checkbox" class="customer-table-check custom-control-input shadow" id ="customer.accountno.trim()"/>
                                             <label class="custom-control-label" for="{customer.accountno.trim()}"></label>
                                             <div [ngStyle]="{'background': 'linear-gradient(to bottom, #' + Math.floor(Math.random() * 16777215).toString(16) + ', #' + Math.floor(Math.random() * 16777215).toString(16) + ')'}" class="user-avatar sm">
                                                <p class="abbr" *ngIf="customer.surname +' ' + customer.firstname+' ' + customer.othernames != 'null null null'" style="color:white!important;" >{{abbreviateName(customer?.surname +' ' +' ' + customer?.othernames)}}</p>
                                             </div>
                                          </div>
                                       </td>
                                       <ng-container *ngFor="let transient of transients;">
                                          <ng-container *ngIf="defaults.includes(transient);else block1">
                                             <ng-container *ngIf="transient == 'Firstname' || transient == 'Surname' || transient == 'Othernames';else block2">
                                                <td *ngIf="customer[''+field_names[''+transient]] != '' && customer[''+field_names[''+transient]] != null && customer[''+field_names[''+transient]] != undefined;else block3" class="nk-tb-col name-col"><b>{{customer[''+field_names[''+transient]]}}</b></td>
                                                <ng-template #block3>
                                                   <td #block3></td>
                                                </ng-template>
                                             </ng-container>
                                             <ng-template #block2>
                                                <td *ngIf="transient == 'Account No';else block4" class="nk-tb-col pointer  route-link underline"> <a href="javascript:void(0)" (click)="loadCustomerInformation($event,customer.accountno,customer.meterno,customer.accounttype)"  class="route-link">{{customer[''+field_names[''+transient]]}}</a>
                                                </td>
                                                <ng-template #block4>
                                                   <ng-container *ngIf="customer[''+field_names[''+transient]] != '' && customer[''+field_names[''+transient]] != null && customer[''+field_names[''+transient]] != undefined;else block5">
                                                      <ng-container *ngIf="customer[''+field_names[''+transient]].trim() !='';else block6">
                                                         <td class="nk-tb-col name-col"><b>{{customer[''+field_names[''+transient]]}}</b></td>
                                                      </ng-container>
                                                      <ng-template #block6>
                                                         <td class="nk-tb-col name-col"><b>N/A</b></td>
                                                      </ng-template>
                                                   </ng-container>
                                                   <ng-template #block5>
                                                      <td></td>
                                                   </ng-template>
                                                </ng-template>
                                             </ng-template>
                                          </ng-container>
                                          <ng-template #block1>
                                             <ng-container *ngIf="customer[''+field_names[''+transient]] != '' && customer[''+field_names[''+transient]] != null && customer[''+field_names[''+transient]] != undefined;else block7">
                                                <td hidden class="nk-tb-col name-col"><b>{{customer[''+field_names[''+transient]]}}</b></td>
                                             </ng-container>
                                             <ng-template #block7>
                                                <td class="nk-tb-col" hidden>&#x2022;&#x2022;&#x2022;</td>
                                             </ng-template>
                                          </ng-template>
                                       </ng-container>
                                       <td class="nk-tb-col" *ngIf="customer['kyc']; else block8"><i style="color:#FF7518!important;" class="material-icons">verified</i></td>
                                       <ng-template #block8>
                                          <td class="nk-tb-col"><i style="color:#FF7518!important;" class="material-icons">block</i></td>
                                       </ng-template>
                                       <td [id]="customer.accountno.trim()" *ngIf="can_create_customers" class="nk-tb-col">
                                          <div class="nk-tb-col nk-tb-col-tools">
                                             <ul class="nk-tb-actions gx-2">
                                                 <li>
                                                     <div class="dropdown">
                                                         <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                         <div class="dropdown-menu dropdown-menu-end">
                                                             <ul class="link-list-opt no-bdr">
                                                                 <li><a [id]="customer.accountno.trim()" onclick="window.openCustomerUpdateForm(this.id)" (click)="openCustomerUpdateForm($event)"><em (click)="openCustomerUpdateForm($event)" class="icon ni ni-edit pointer"></em><span (click)="openCustomerUpdateForm($event)">Edit</span></a>                                                              </li>
                                                                 <li class="divider"></li>
                                                                 <li><a [id]="customer.accountno.trim()" href="javascript:void(0)" onclick="window.initiateCaad(this.id)"><em class="icon ni ni-shield-off"></em><span>Initiate CAAD</span></a></li>
                                                             </ul>
                                                         </div>
                                                     </div>
                                                 </li>
                                             </ul>
                                         </div>
                                       </td> 
                                    </tr>
                                 </tbody>
                                
                              </table>
                           </div>
                           <ng-container *ngIf="!noResults">
                              <div *ngIf="kanban" class="kanban-grid" id="kanban-wraps">
                                 <div *ngFor="let customer of customers$ | async ; trackBy: trackByFn" [id]="customer.accountno" class="card kanban zoom shadow pointer">
                                    <div style="width:100%" class="flex-colnogap">
                                        <div style="width:100%">
                                            <div style="margin:10px;">
                                                <div class="flex-col-justify-center">
                                                    <div class="card-text-center">
                                                        <div  class="contact-abrv-grid">
                                                            <span class="bold abbr_name" style=" font-size:17px;color:white!important;" t-esc="self.abbreviateName(customer['firstname']) + ' ' + customer['surname']+ ' ' + customer['othernames']"></span>
                                                        </div>
                                                    </div>
                                                    <div  class="card-text-center">
                                                        <ng-container *ngIf="customer['firstname'] + ' ' + customer['surname']+ ' ' + customer['othernames']=='None None None'">
                                                            <div><span class="bold">?</span><i style="color:orange;padding-left:10px;" class="material-icons">block</i></div>
                                                        </ng-container>
                                                        <ng-container *ngIf="!(customer['firstname'] + ' ' + customer['surname']+ ' ' + customer['othernames']=='None None None')">
                                                            <ng-container  *ngIf="customer['kyc']">
                                                               <div class="flex-row">
                                                                  <div _ngcontent-uod-c71="" class="user-avatar sm">{{abbreviateName(customer['firstname'] || '' + ' ' + customer['surname']+ ' ' + customer['othernames'])}}</div>
                                                                  <div style="padding-left:10px;"><b><span class="custname" t-esc="">{{customer['firstname'] || '' + ' ' + customer['surname']+ ' ' + customer['othernames']}}</span></b><i style="color:#FF7518!important;padding-left:10px;" class="material-icons">verified</i></div>
                                                               </div>
                                                              
                                                            </ng-container>
                                                            <ng-container *ngIf="!customer['kyc']">
                                                                <div><span t-esc="customer['firstname'] + ' ' + customer['surname']+ ' ' + customer['othernames']" class="bold">?</span><i style="color:orange;padding-top:10px;" class="material-icons">block</i></div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width:100%">
                                            <div style="padding-left:10px; padding-right:10px;">
                                                <div class="">
                                                  
                                                    
                                                    <div class="flex-row col-12">
                                                        <label class="col-5 bold" >Acct No</label>
                                                        <div class="col-7"><span class="kanban_accno" style=" font-size:12px;"  t-esc="">{{customer['accountno']}}</span></div>
                                                    </div>
                                                    <div class="flex-row col-12">
                                                        <label class="col-5 bold" >AccType</label>
                                                        <div class="col-7"><span t-esc="">{{customer['accounttype']}}</span></div>
                                                    </div>
                                                    <div class="flex-row col-12">
                                                      <label class="col-5 bold" >Region</label>
                                                      <div class="col-7"><span t-esc="">{{customer['state']}}</span></div>
                                                  </div>
                                                  <div class="flex-row col-12">
                                                         <label class="col-5 bold" >Buid</label>
                                                         <div class="col-7"><span t-esc="">{{customer['buid']}}</span></div>
                                                   </div>
                                                   <div class="flex-row col-12">
                                                      <label class="col-5 bold" >Ser Cen</label>
                                                      <div class="col-7"><span t-esc="">{{customer['servicecenter']}}</span></div>
                                                   </div>
                                                   <div class="flex-row col-12 nk-tb-item">
                                                      <a  href="javascript:void(0)" 
                                                         (click)="loadCustomerInformation($event,customer.accountno,customer.meterno,customer.accounttype)" 
                                                         _ngcontent-vqw-c59="" 
                                                         data-bs-toggle="tooltip" 
                                                         data-bs-placement="left" 
                                                         title="" class="btn btn-secondary col-5" 
                                                         data-bs-original-title="View Details">
                                                         <span _ngcontent-vqw-c59="">Details</span>
                                                      </a>
                                                      <div style="display:flex;flex-direction:row;align-items:start" class="col-7 nk-tb-col-tools">
                                                         <ul class="nk-tb-actions gx-2">
                                                             <li  class="nk-tb-action-hidden"><a [id]="customer.accountno.trim()" onclick="window.openCustomerUpdateForm(this.id)" (click)="openCustomerUpdateForm($event)" class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label="Edit"><em id="--" title = {{customer.surname}}  class="icon material-icons">edit</em></a></li>
                                                             <li  class="nk-tb-action-hidden"><a  [id]="customer.accountno.trim()" onclick="window.initiateCaad(this.id)"  class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="right" [title]="'Initiate new CAAD request'" aria-label="Suspend"><em data-bs-toggle="tooltip" data-bs-placement="right" [title]="'Initiate new CAAD request'" class="icon ni ni-money"></em></a></li>
                                                             <li>
                                                               <div class="dropdown">
                                                                   <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                   <div class="dropdown-menu dropdown-menu-end">
                                                                      
                                                                   </div>
                                                               </div>
                                                           </li>
                                                         </ul>
                                                     </div>
                                                     
                                                      
                                                      <!-- <a [id]="customer.accountno.trim()" onclick="window.openCustomerUpdateForm(this.id)" (click)="openCustomerUpdateForm($event)"  
                                                         _ngcontent-vqw-c59="" 
                                                         data-bs-toggle="tooltip" 
                                                         data-bs-placement="left" 
                                                         style="border:none;border-color: transparent;"
                                                         title="" class="btn btn-outline-light col-4" >
                                                         <a href="javascript:void(0)" _ngcontent-vqw-c59="">Init CAAD</a>
                                                      </a>
                                                      <a [id]="customer.accountno.trim()" onclick="window.openCustomerUpdateForm(this.id)" (click)="openCustomerUpdateForm($event)"  
                                                         _ngcontent-vqw-c59="" 
                                                         data-bs-toggle="tooltip" 
                                                         data-bs-placement="left" 
                                                         style="border:none;border-color: transparent;"
                                                         title="" class="btn btn-outline-light col-3" 
                                                         data-bs-original-title="View Details">
                                                         <em _ngcontent-vqw-c59="" class="icon ni ni-edit"></em>
                                                      </a> -->
                                                   </div>
                                                    <br>
                                                    <br>
                                                </div> 
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                              </div>
                           </ng-container>
                        </div>
                     </div>
                     
                  </div>
                  
               </div>
               <script type="text/javascript" src="/assets/js/datatables.js"></script>
   </div>
   <app-pagination (dataEvent)="receivePaginationData($event)"></app-pagination>
</div>

<button style="display: none;" id="cdrbtn" (click)="forceUpdate($event)"></button>

<div #editcustomerplaceholder></div>
<div #createcustomerplaceholder></div>
