<div style="padding-top:10px;" class="container">
    <div style="width:100%;max-height: 75vh; overflow-y: auto; overflow-x: hidden;">
        <div class="nk-block-head nk-block-head-lg">
            <div style="width:100%;" class="nk-block-between">
                <div style="width:100%;" class="nk-block-head-content">
                    <div style="width:100%;" class="flex-row">
                        <h4 style="width:80%;" class="nk-block-title">Customer Assets Information</h4>
                        
                    </div>
                    <div class="nk-block-des">
                        <p>Assets info, for Ibedc Prepaid and PostPaid Customers.</p>
                    </div>
                </div>
                
            </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            <div class="nk-data data-list">
                <div class="data-head">
                    <h6 class="overline-title" t-esc="customerdata['accounttype'] + ' Customer DSS Details'" >Customer DSS Information</h6>
                </div>
                <ul style="max-height:50vh;overflow-y: auto;" class="link-list-opt">
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">DSS ID</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.dss_id || 'N/A'}}</span>
                            </a>
                            <label class="col-3">DSS Name</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.dss_415v_name || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">DSS Asset Type</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.asset_type.toString().replaceAll('_',' ') || 'N/A'}}</span>
                            </a>
                            <label class="col-3">DSS Parent</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.dss_415v_parent || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">DSS Owner</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.dss_415v_owner || 'N/A'}}</span>
                            </a>
                            <label class="col-3">DSS Address</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.dss_415v_address || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">DSS Rating</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.dss_415v_rating || 'N/A'}}</span>
                            </a>
                            <label class="col-3">-------</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.void || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <div class="data-head">
                    <h6 class="overline-title" t-esc="customerdata['accounttype'] + ' Customer Service Center'" >Customer Locations Information</h6>
                </div>
                <ul style="max-height:50vh;overflow-y: auto;" class="link-list-opt">
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">Region</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.region || 'N/A'}}</span>
                            </a>
                            <label class="col-3">Business Unit</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.biz_hub || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">Service Center</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.servicecenter || 'N/A'}}</span>
                            </a>
                            <!-- <label class="col-3">Business Unit</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.biz_hub || 'N/A'}}</span>
                            </a> -->
                        </div>
                    </li>
                    
                </ul>
                
               
                <div class="data-head">
                    <h6 class="overline-title" t-esc="'Customer High tension Details'" >Customer High Tension & Feeders Information</h6>
                </div>
                <br>
                <ul style="max-height:50vh;overflow-y: auto;" class="link-list-opt">
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">High Tension Street</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.HT_11KV_Street || 'N/A'}}</span>
                            </a>
                            <label class="col-3">High Tension Remark</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.HT_11KV_Remark || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">Feeder Name</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.feeder_name || 'N/A'}}</span>
                            </a>
                            <label class="col-3">Feeder Parent</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.feeder_parent || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
  
                
                <div class="data-head">
                    <h6 class="overline-title" t-esc="'Customer Power Transformer Name'" >Customer Power Transformer & Injection Subs-Station Information</h6>
                </div>
                <br>
                <ul style="max-height:50vh;overflow-y: auto;" class="link-list-opt">
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">Power Transformer Name</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.pt33kv_11kv_name || 'N/A'}}</span>
                            </a>
                            <label class="col-3">Power Transformer Make</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.pt33kv_11kv_make || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">ISS Name</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.iis_name || 'N/A'}}</span>
                            </a>
                            <label class="col-3">ISS Make</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.IIS_naccode || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="col-12 row g-3">
                            <label class="col-3">ISS Longitude</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.IIS_longitude || 'N/A'}}</span>
                            </a>
                            <label class="col-3">ISS Make</label>
                            <a class="col-3" href="javascript:void(0)" >
                                <span>{{assetsData?.IIS_latitude || 'N/A'}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
                
            </div><!-- data-list -->
        </div><!-- .nk-block -->
        </div>
    </div>