.parent-container{
    background: whitesmoke
   
}
.nk-menu-text, em{
    font-size: 19px!important;
}

.nk-menu-item{
    margin-bottom:20px!important;
    /* border-bottom: 1px solid gray; */
}

.nk-sidebar{
    width:250px!important;
}

@media (min-width: 1200px) {
    
    .nk-header-fixed {
        left: 250px !important;
    }
}

@media (min-width: 1200px) {
    .has-sidebar .nk-wrap {
        padding-left: 250px !important;
    }
}

.searchbar-switch{
    padding-top:30px!important;
}

