

 <div class="top container">
   
    <div _ngcontent-ltp-c55="" class="card card-bordered" style="height: 80vh;">
        <div _ngcontent-ltp-c55="" class="card-inner-group" style="height: 80vh;">
           <div _ngcontent-ltp-c55="" class="card-inner position-relative card-tools-toggle" style="max-height: 100%; overflow-y: auto; overflow-x: hidden;">
              <div _ngcontent-ltp-c55="">
                 <div _ngcontent-ltp-c55="">
                    
                    <div id="dashboard_template" style="padding-top: 10px;" class="nk-content ">
    
                        <div class="nk-app-root ">
                            <h2><span class="colorize"><b>C</b></span>ustomer <span class="colorize"><b>M</b></span>anagement <span class="colorize"><b>S</b></span>ystem</h2>
                            <div id="parent-container"  class="nk-main ">
                                <div style="padding-left:0px;" class="nk-wrap nk-wrap-nosidebar">
                                    <div class="nk-content ">
                                    <div class="nk-split  nk-split-page nk-split-lg">
                                        <div class="nk-split-content  nk-block-area nk-block-area-column nk-auth-container bg-white">
                                            <div class="absolute-top-right d-lg-none p-3 p-sm-5"><a href="#" class="toggle btn-white btn btn-icon " data-target="athPromo"><em class="icon ni ni-info"></em></a></div>
                                            <div class="nk-block nk-block-middle nk-auth-body ">
                                                
                                                <div class="brand-logo rounded-logo pb-5"><a href="#" class="logo-link"><img class="logo-light logo-img logo-img-lg" src="/assets/docimages/logo-dark.png" alt="logo"/><img class="logo-dark logo-img logo-img-lg" src="/assets/docimages/logo-dark.png" alt="logo-dark"/></a><h3 style="color:orange;">Ibadan Electricity Distribution Company</h3></div>
                                                <div class="nk-block-head">
                                                <div class="nk-block-head-content">
                                                    <h5 class="nk-block-title">Sign-In</h5>
                                                    <div class="nk-block-des">
                                                        <p>No login credentials ? Contact your administrator to create an account for you.</p>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="modal fade" tabindex="-1" id="modalAlert" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <a href="javascript:closeModal('modalAlert')" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
                                                            <div class="modal-body modal-body-lg text-center">
                                                                <div class="nk-modal">
                                                                <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                                                                <h4 id="success-title" class="nk-modal-title"></h4>
                                                                <div class="nk-modal-text">
                                                                    <div id="success-msg" class="caption-text"></div>
                                                                    <span id="success-sub-msg" class="sub-text-sm"></span>
                                                                </div>
                                                                <div class="nk-modal-action"><a autofocus="1" href="javascript:closeModal('modalAlert')" class="btn btn-lg btn-mw btn-primary" data-bs-dismiss="modal">OK</a></div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer bg-lighter">
                                                                <div class="text-center w-100">
                                                                <p>Ensure to save all individual tabs before submission <a href="#">!!</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" tabindex="-1" id="fail-modalAlert" style="display: none;" aria-modal="true" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <a href="javascript:closeModal('fail-modalAlert')" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
                                                            <div class="modal-body modal-body-lg text-center">
                                                                <div class="nk-modal">
                                                                <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                                                                <h4 id="fail-title" class="nk-modal-title"></h4>
                                                                <div class="nk-modal-text">
                                                                    <p id="fail-msg" class="lead"></p>
                                                                    <p id="fail-sub-msg" class="text-soft"></p>
                                                                </div>
                                                                <div class="nk-modal-action mt-5"><a autofocus="1" href="javascript:closeModal('fail-modalAlert')" class="btn btn-lg btn-mw " data-bs-dismiss="modal">Return</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <form class="form-validate is-alter" autocomplete="off" (ngSubmit)="submit()" ngNativeValidate>
                                                    <div *ngIf="errorMessage">
                                                        <div class="alert alert-danger" role="alert">
                                                          {{errorMessage}}
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="csrf_token" t-att-value="request.csrf_token()"/>
                                                    <div class="form-group">
                                                        <div class="form-label-group"><label class="form-label" for="email-address">Email</label></div>
                                                        <div class="form-control-wrap"><input autocomplete="off" type="text" class="form-control form-control-lg" [(ngModel)]="user.email" type="email" name="email" placeholder="name@ibedc.com" id="login"/></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-label-group"><label class="form-label" for="password">Passcode</label></div>
                                                        <div class="form-control-wrap"><a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password"><em class="passcode-icon icon-show icon ni ni-eye"></em><em class="passcode-icon icon-hide icon ni ni-eye-off"></em></a>
                                                            <input autocomplete="new-password" [(ngModel)]="user.password" type="password" name="password"  placeholder="Password" class="form-control form-control-lg valid" required="" name="password" id="password" placeholder="Enter your passcode" aria-invalid="false"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"><button type="submit" id="submit" class="btn btn-lg btn-primary btn-block col-4">Sign In</button></div>
                                                    
                                                    <input type="hidden" name="redirect" />
                                                </form>
                                                <div class="form-note-s2 pt-4"> Forgotten your password? <a href="/cms/web/request_reset_password/">Reset your password</a></div>
                                            </div>
                                        </div>
                                        <div style="border-radius:10px;" id="xxx" class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right toggle-screen-lg" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                                            <div style="border-radius:10px;" class="dark-overlay"></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                 </div>
              </div>
           </div>
        </div>
       
</div>





   